@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container-fluid row">
    
    <br /><br />
    <div class="col-lg-2"></div>
    <div class="col-lg-8 hvr-underline-from-center hvr-overline-from-center" style="background-color: white; opacity: 0.95; border-radius: 20px">

        <h1 style="margin-left: 5%; text-align: center; font-family:'Hobo Std'"> M.F LIFAFA MAKER</h1>
        <h3 style="margin-left: 5%; text-align: center; font-family: 'Charlemagne Std'; font-size:medium"> (Three Brothers) </h3>
        <hr /><br />

        <div style="text-align:center">
            <div class="hvr-pulse-shrink" style="margin-left: 5%; font-family: 'Cooper Black'; font-size: x-large; ">
                MM. Faizan <br />
                <p style="color:red">Cell: 0324 - 4882643</p>
            </div>
            <br />

            <div class="hvr-pulse-shrink" style="margin-left: 5%; font-family: 'Cooper Black'; font-size: x-large; ">
                Nazakat Ali <br />
                <p style="color:red">Cell: 0321 - 4888312 </p>
            </div>
            <br />
            <div class="hvr-pulse-shrink" style="margin-left: 5%; font-family: 'Cooper Black'; font-size: x-large; ">
                MM. Usman <br />
                <p style="color:red">Cell: 0323 - 8433855</p>
            </div>
        </div>
        <hr />
        <div style="margin-left: 5%; text-align: center; font-family:'Hobo Std'; font-size:x-large"> Main Bazar No.2, Ghaziabad Lahore </div>
        <div style="margin-left: 5%; text-align: center; font-family:'Hobo Std'; font-size:medium; color:orangered"> Email: nazakat619@gmail.com </div>
        <br />
        @*<img style="align-items: center" src="~/Images/under.gif" />*@
        <br />
    </div>
</div>
<br />
<br />
<br />