<label class="hvr-pop" for="sel1" style="font-size:medium">Order No.</label>
<input type="text"  class="form-control" id="orderNo" maxlength="10" name="orderNo" placeholder="0123456789" style="width: 200px" required />
<br />

<label class="hvr-pop" for="sel1" style="font-size:medium">Bill No.</label>
<input type="number" min="0" max="9999999999" class="form-control" id="billNo" name="billNo" placeholder="9876543210" style="width: 170px" required />
<div id="result" style="color:red; font-weight:bold"></div>
<div id="checking">Checking...</div>

<hr />
<label for="sel1" class="hvr-pop" style="font-size:large;">Item Quantity:</label><br />
<div id="yourdiv">
    <input type="number" min="0" maxlength="5" max="99999" class="form-control" name="large" placeholder="Small Envelope" style="width: 150px; float:left" required />

    <input type="number" min="0" max="99999" maxlength="5"  class="form-control" name="small" placeholder="Large Envelope" style="width: 150px; margin-left:2%; float: left;" required />
</div>