@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restricted Access</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/hover-min.css" rel="stylesheet" />
    <link href="~/Content/hover.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <style>
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 1365px 650px;
        }
    </style>
</head>

<body background="http://7428.net/wp-content/uploads/2013/03/Caution-Restricted-Area.jpg">
    <div class="row">
        <br /><br /><br /><br />
        <div class="col-lg-6 col-lg-offset-3" style="background-color: white; border-radius:10px; opacity:0.9">
            <br />
            
                <p style="color:red; font-weight:bold; font-family:'Hobo Std'; font-size:xx-large">Warning: </p>
            <blockquote>
                <p style="font-size:large">
                    This page has been declared a RESTRICTED AREA by authority of <br />
                    the installation command.
                    <br /><hr />
                    Please, Contact ADMIN to get full access.
                    <br />
                    - Thank You
                </p>
                <div class="pull-right" style="font-family:'Hobo Std'; color:red; font-size:large">
                    Nazakat Ali <br />
                    0321 - 4888312
                </div>
            </blockquote>
            <br /><br /><br />
        </div>

        <div class="col-lg-3">.</div>
    </div>


</body>
</html>
