@{
    ViewBag.Title = "Zone1";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container-fluid row">
    <br /><br />
    <div class="col-lg-8 col-lg-offset-2 hvr-glow" style="background-color:white; border-radius:20px">
        <br /><br />
        <div style=" color: #FF8000; font-family: 'Hobo Std'; font-size: xx-large" class="hvr-float-shadow"> Gourmet Shops (Zone-6) </div>
        <br /><br /><br />
        <form role="form" method="post" action="/Home/AddRecord">
            <div class=" form-group" style=" width:60%; margin-left:10%">
                <label class="hvr-pop" for="sel1" style="font-size:large">Select Shop:</label>
                <select style="font-weight:bold" autofocus="autofocus" class="form-control" name="shopName" id="zone">
                    <option>Islamabad </option>
                    <option>Faisalabad </option>
                    <option>Multan </option>
                    <option>Unit </option>
                </select>

            </div>
            <br />
            <div style="margin-left: 10%; margin-right:10%">
                <input type="hidden" name="zone" value="Zone - 6" />

                @Html.Partial("~/Views/Home/OrderPartial.cshtml")

            </div>
            <br /><br /><br />
            <button type="submit" class="btn btn-warning hvr-grow-rotate" id="submitBtn" style="margin-left: 10%; font-weight:bold; font-family: 'Hobo Std';">
                Submit Order
            </button>

        </form>
        <br /><br />

    </div>

    <!-- ......................Script Area...................-->
    @Html.Partial("~/Views/Home/ValidationScript.cshtml")

</div>

<br /><br /><br /><br />
